
.integration {
  background-color: var(--bg-control);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--accent-primary);
  text-decoration: none;

  margin-right: 20px;
  padding: 10px;
  height: 30px;
  width: 30px;

  transition-duration: 0.2s;

  svg {
    fill: var(--accent-primary);
    height: 30px;
    width: 30px;
  }

  &:hover {
    background-color: var(--bg-control-hover);
    transform: scale(1.05);
  }
}