
.todo {
  border: var(--border-secondary) 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  max-width: 100%;
  margin: 20px 0;
  padding: 15px 20px;
  overflow: hidden;

  > div {
    flex: 1 1;
    max-width: 100%;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 5px;
    max-width: calc(100% - 40px);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  a {
    color: var(--text-primary);
    text-decoration-color: var(--bg-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;

    transition-duration: 0.1s;

    &:hover {
      color: var(--accent-secondary)
    }
  }

  .subtext {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--text-tertiary);
    font-size: 1rem;
    white-space: nowrap;
    margin: 0;

    svg {
      fill: var(--accent-primary);
      height: 16px;
      width: 16px;
      margin-right: 3px;
    }
  }

  .separator::before {
    background-color: var(--text-tertiary);
    border-radius: 50%;
    content: "";
    display: block;

    width: 5px;
    height: 5px;
    margin: auto 10px;

    opacity: 0.2;
  }

  .actions {
    display: none;
    flex-direction: row;
    align-items: center;
    
    > * {
      margin-right: 20px;
    }

    &.shown {
      display: flex;
    }

    @media (min-width: 512px) {
      display: flex;
    }
  }
}

.wrap {
  overflow-wrap: break-word;
}
