
.todo {
  border: var(--border-secondary) 2px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  max-width: 100%;
  margin: 20px 0;
  padding: 15px 20px;
  overflow: hidden;

  h3 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 5px;

    a {
      text-decoration: none;
    }
  }

  a {
    color: var(--text-inverse-primary);
    text-decoration-color: var(--bg-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;

    transition-duration: 0.1s;

    &:hover {
      color: var(--accent-secondary)
    }
  }

  .subtext {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--text-inverse-tertiary);
    font-size: 1rem;
    margin: 0;
  }

  .separator::before {
    background-color: var(--text-inverse-tertiary);
    border-radius: 50%;
    content: "";
    display: block;

    width: 5px;
    height: 5px;
    margin: auto 10px;

    opacity: 0.2;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    > * {
      margin-right: 20px;
    }
  }
}
