.sidebar {
  background-color: var(--bg-secondary);
  box-shadow: var(--box-shadow-primary) 0 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: calc(100% - 25px);
  padding: 10px 0;
  padding-top: 15px;
  overflow: auto;

  hr {
    border-color: var(--bg-accent);
    margin: 0;
  }

  .nav-link {
    color: var(--text-primary);
    font-size: 18px;
    text-decoration: none;

    display: flex;
    align-items: center;

    min-height: 70px;
    padding-left: 40px;
    transition-duration: 0.3s;

    &:hover {
      background-color: var(--bg-control-hover);
    }

    &.active {
      background-color: var(--bg-primary);
    }
  }

  .sidebar-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;

    padding: 10px 20px;
    padding-left: 40px;

    h2 {
      margin: 0;
    }

    button {
      background-color: var(--bg-control);
      border: none;
      color: var(--text-primary);
      height: 30px;
      width: 30px;
      margin-left: 10px;
      transition-duration: 0.2s;

      &:hover {
        background-color: var(--bg-control-hover);
      }
    }

    .sidebar-dialog {
      background-color: var(--bg-dialog);
      border-radius: 5px;
      box-shadow: var(--box-shadow-secondary) 5px 5px 10px;
      position: absolute;
      bottom: calc(100% + 10px);
      left: 20px;
      right: 20px;
      
      min-height: 120px;
      padding: 20px;

      h3 {
        margin: 0;
      }

      hr {
        margin-top: 5px;
      }

      .switch {
        margin-top: 25px;
      }
    }
  }

  .sidebar-title {
    justify-content: space-between;
  }
}