<nav class="sidebar" [ngClass]="{'compact': useCompact}">
  <div *ngIf="!isAuthorized">
    <div class="sidebar-options sidebar-title">
      <h2>Caravan</h2>
    </div>
    <a routerLink="/auth" class="nav-link" routerLinkActive="active">Authorize</a>
  </div>
  <div *ngIf="isAuthorized">
    <div class="sidebar-options sidebar-title">
      <h2>Caravan</h2>
      <button (click)="toggleCompact()">≡</button>
    </div>
    <a routerLink="/account" class="nav-link" routerLinkActive="active">
      <img src="/assets/icons/Icon_Account.svg" alt="Account">
      <span>Account</span>
    </a>
    <a routerLink="/home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="/assets/icons/Icon_Dashboard.svg" alt="Dashboard">
      <span>Dashboard</span>
    </a>
    <div class="sidebar-classes" *ngIf="this.enumerateClasses">
      <a class="nav-link nav-sub" *ngFor="let course of courses" 
        routerLinkActive="active" [routerLink]="'/courses/'+course.id">
        <span class="icon">{{ course.name | abbreviateCourse }}</span>
        <span class="course-name">{{ course.name }}</span>
      </a>
    </div>
    <a routerLink="/groups" class="nav-link" routerLinkActive="active">
      <img src="/assets/icons/Icon_Group.svg" alt="Groups">
      <span>Groups</span>
    </a>
    <div class="sidebar-groups" *ngIf="this.enumerateGroups">

    </div>
    <a routerLink="/inbox" class="nav-link" routerLinkActive="active">
      <img src="/assets/icons/Icon_Inbox.svg" alt="Inbox">
      <span>Inbox</span>
    </a>
    <a routerLink="/calendar" class="nav-link" routerLinkActive="active">
      <img src="/assets/icons/Icon_Calendar.svg" alt="Calendar">
      <span>Calendar</span>
    </a>
    <a routerLink="/studio" class="nav-link" routerLinkActive="active">
      <img src="/assets/icons/Icon_Studio.svg" alt="Studio">
      <span>Studio</span>
    </a>
  </div>
  <br>
</nav>