.sidebar {
  background-color: var(--bg-inverse-primary);
  border-top-right-radius: 10px;
  box-shadow: var(--box-shadow-primary) 0 0 20px;
  box-sizing: border-box;
  color: var(--text-inverse-primary);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 300px;
  
  > div {
    min-height: 100%;
    overflow: auto;
  }

  .sidebar-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;

    button {
      color: var(--text-control-alt);
      margin-left: 10px;
      height: 30px;
      width: 30px;
    }

    button:not(:hover) {
      background-color: var(--bg-control-alt);
    }
  }

  .nav-link {
    color: var(--text-inverse-primary);
    font-size: 1.2rem;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
    line-height: 4.5rem;

    position: static;
    min-height: 4.5rem;
    padding-left: 30px;
    padding-right: 20px;
    transition-duration: 0.3s;

    &:hover {
      background-color: var(--bg-inverse-secondary);
    }
    &.active {
      background-color: var(--bg-inverse-tertiary);
    }

    &.nav-sub {
      display: flex;
      font-size: 1rem;
      line-height: 4rem;
      min-height: 4rem;
      padding-left: 50px;

      .icon {
        border: var(--accent-primary) 2.5px solid;
        border-radius: 6px;
        box-sizing: border-box;
        color: var(--accent-primary);
        display: none;
        align-items: center;
        justify-content: center;

        font-size: 0.9rem;
        font-weight: bold;
        padding: 5px;
      }
    }

    svg {
      fill: var(--accent-primary);
      height: 25px;
      width: 25px;
      margin-right: 10px;
    }
  }

  @media (max-width: 512px) {
    border-top-right-radius: 0;
    flex-direction: row;
    height: unset;
    width: 100%;

    > div {
      display: flex;
      min-height: unset;
      width: 100%;
    }

    .sidebar-title {
      display: none;
    }

    .nav-link, .nav-link.nav-sub {
      flex: 1 1;
      height: 60px;
      padding: 0 20px;
    }
  }

  @media (min-width: 2000px) {
    width: 350px;
  }
}

.sidebar.compact {
  padding-top: 0;

  .sidebar-title {
    justify-content: center;
    padding: 20px 0;

    button {
      margin-left: 0;
    }
  }

  .nav-link {
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    line-height: unset;
    height: 70px;
    padding-left: 0;
    padding-right: 0;

    svg {
      height: 35px;
      width: 35px;
      margin-right: 0;
    }

    svg + span {
      display: none;
    }

    &.nav-sub {
      margin: auto;

      .icon {
        display: flex;
        height: 30px;
        width: 30px;
      }

      .course-name {
        display: none;
      }
    }
  }
  
  @media (max-width: 512px) {
    .nav-link, .nav-link.nav-sub {
      height: 55px;
      min-width: 55px;
      padding: 0;
    }
  }

  @media (min-width: 512px) {
    border-top-right-radius: 6px;
    position: relative;
    width: 70px;
  }
}