.sidebar {
  background-color: var(--bg-tertiary);
  box-shadow: var(--box-shadow-primary) 0 0 20px;
  box-sizing: border-box;
  color: var(--text-primary);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 300px;
  
  > div {
    min-height: 100%;
    overflow: auto;
  }

  .nav-link {
    color: var(--text-primary);
    font-size: 1.2rem;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
    line-height: 4.5rem;

    position: static;
    min-height: 4.5rem;
    padding-left: 30px;
    padding-right: 20px;
    transition-duration: 0.3s;

    &:hover, &.active {
      background-color: var(--bg-control-hover);
    }

    &.nav-sub {
      display: flex;
      font-size: 1rem;
      line-height: 4rem;
      min-height: 4rem;
      padding-left: 50px;

      .icon {
        border: var(--accent-primary) 2.5px solid;
        border-radius: 6px;
        box-sizing: border-box;
        color: var(--accent-primary);
        display: none;
        align-items: center;
        justify-content: center;

        font-size: 0.9rem;
        font-weight: bold;
        margin: 2px;
        margin-right: 10px;
        padding: 5px;
        height: 21px;
        width: 21px;
      }
    }

    img {
      height: 25px;
      width: 25px;
      margin-right: 10px;
    }
  }

  .sidebar-title {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    h2 {
      margin: 0;
    }

    button {
      background-color: var(--bg-control);
      border: none;
      border-radius: 3px;
      color: var(--text-primary);
      height: 30px;
      width: 30px;
      margin-left: 10px;
      transition-duration: 0.2s;

      &:hover {
        background-color: var(--bg-control-hover);
      }
    }
  }

  @media (min-width: 2000px) {
    width: 350px;
  }
}

.sidebar.compact {
  padding-top: 0;
  width: 70px;
  position: relative;

  .nav-link {
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    line-height: unset;
    height: 70px;
    padding-left: 0;
    padding-right: 0;

    img {
      height: 35px;
      width: 35px;
      margin-right: 0;
      margin-bottom: 5px;
    }

    img + span {
      display: none;
    }

    &.nav-sub {
      height: 70px;
      margin: auto;

      .icon {
        display: flex;
        margin: 0;
        height: 30px;
        width: 30px;
      }

      .course-name {
        display: none;
      }
    }
  }

  .sidebar-title {
    justify-content: center;
    padding: 20px 0;

    h2 {
      display: none;
    }

    button {
      margin-left: 0;
    }
  }

  .sidebar-classes {
    border-top: var(--bg-accent) 2px solid;
    border-bottom: var(--bg-accent) 2px solid;
  }
}