
<section class="assignment">
  <div class="info-bar">
    <p><b>Assignment: {{ course?.name }}</b></p>
  </div>
  <h1>{{ assignment?.name }}</h1>
  <div class="info-bar">
    <p class="grade">
      <span *ngIf="latestSubmission">{{ latestSubmission?.grade }}</span>
      <span *ngIf="!latestSubmission">--</span>
      <span> / {{ assignment?.points_possible }} points</span>
    </p>
    <p class="attempts">
      <span *ngIf="latestSubmission">{{ latestSubmission?.attempt }}</span>
      <span *ngIf="!latestSubmission">-</span>
      <span> / </span>
      <span *ngIf="unlimitedAttempts">unlimited</span>
      <span *ngIf="!unlimitedAttempts">{{ assignment?.allowed_attempts }}</span>
      <span> attempts</span>
    </p>
    <p>Due: {{ assignment?.due_at | date: 'medium' }}</p>
    <p *ngIf="latestSubmission?.late" class="late">
      Submitted Late (-{{ latestSubmission?.points_deducted }} points)
    </p>
  </div>
  <hr>
  <p *ngIf="this.assignment?.lock_explanation">{{ assignment?.lock_explanation }}</p>
  <div [innerHtml]="this.assignment?.description" class="xss-sanitize"></div>
  <br><br>
  <div class="assignment-submitter">
    <div class="attempts">
      <button [ngClass]="{'active': isFocusSubmission}" (click)="focusSubmission(true)">
        Latest Submission ({{ latestSubmission?.attempt }})
      </button>
      <button [ngClass]="{'active': !isFocusSubmission}" (click)="focusSubmission(false)">
        New Submission
      </button>
    </div>
    <hr>
    <div class="submitter">
      <assignment-submission 
        *ngIf="isFocusSubmission" 
        [submission]="latestSubmission">
      </assignment-submission>
      <assignment-submitter 
        *ngIf="!isFocusSubmission"
        [assignment]="assignment">
      </assignment-submitter>
    </div>
  </div>
</section>