
.assignment {
  .info-bar {
    display: flex;
    align-items: center;
    
    p {
      margin-right: 30px;
    }
  }
  
  .assignment-submitter {
    padding-bottom: 250px;

    .attempts {
      display: flex;
      margin-bottom: 10px;

      button {
        background-color: transparent;
        border: none;
        border-bottom: var(--border-secondary) 2px solid;
        border-radius: 0;
        color: var(--text-inverse-secondary);

        font-family: inherit;
        font-size: 1rem;

        margin-right: 25px;
        padding: 5px;
        
        transition-duration: 0.2s;

        &:hover, &.active {
          border-color: var(--accent-primary);
        }
      }
    }

    .submitter {
      border: var(--border-secondary) 3px solid;
      border-radius: 5px;
      display: block;
      min-height: 100px;
      margin-top: 20px;
      padding: 20px;
    }
  }

  .late {
    color: var(--error);
  }
}