
.notification-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    position: absolute;
    bottom: 3.5rem;
    right: 5rem;
    z-index: 100;
    transition-duration: 0.2s;
  }

  .loading-bar {
    animation: loading 2s linear infinite;
    background-image: linear-gradient(135deg, #fc7 25%, #fa0 25.1%, #fa0 69.9%, #fc7 70%);
    background-size: 200px;
    height: 0;
    min-width: 120px;
    z-index: 120;

    &.shown {
      height: 6px;
    }
  }

  .notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes loading {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 199px;
  }
}