
.notification-banner {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        position: absolute;
        top: 0;
        left: 320px;
        right: 0;
        transition-duration: 0.2s;
    }

    .loading-bar {
        animation: loading 2s linear infinite;
        background-image: linear-gradient(135deg, #fc7 25%, #fa0 25.1%, #fa0 69.9%, #fc7 70%);
        background-size: 200px;
        height: 0;

        &.shown {
            height: 6px;
        }
    }

    .notifications {
        background-color: var(--error);
        color: var(--text-inverse-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0;

        &.shown {
            height: 35px;
        }

        &.info {
            background-color: var(--info);
        }

        &.warning {
            background-color: var(--warning);
        }

        &.error {
            background-color: var(--error);
        }
    }

}

@keyframes loading {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 199px;
    }
}