
<div class="submission">
  <h5>Attempt {{ submission?.attempt }}</h5>
  <em>
    {{ submission?.submission_type | mapSubmitType }}
    at {{ submission?.submitted_at | date: 'medium' }}
  </em>
  <hr>
  <div *ngIf="submission?.submission_type === 'online_url'">
    <p><a [href]="submission?.url" target="_blank" rel="noreferrer">
      {{submission?.url}}
    </a></p>
  </div>
  <div *ngIf="submission?.submission_type === 'online_text_entry'">
    <div [innerHtml]="submission?.body"></div>
  </div>
  <div *ngIf="submission?.submission_type === 'online_upload'">
    <p><a [href]="previewUrl" target="_blank" rel="noreferrer">
      View file preview in a new window.
    </a></p>
  </div>
  <div *ngIf="submission?.submission_type === 'media_recording'">
    <p>We can't preview media recordings.</p>
  </div>
</div>