
<section class="course-home">
  <div class="title-row">
    <h1>{{ course?.name }}</h1>
    <ibm-overflow-menu [flip]="true" [offset]="{x:0,y:50}">
      <ibm-overflow-menu-option>
        <svg class="bx--btn__icon" ibmIcon="edit" size="16"></svg>
        Set Nickname
      </ibm-overflow-menu-option>
      <ibm-overflow-menu-option (selected)="toggleRedesign()">
        <svg *ngIf="useRedesign" class="bx--btn__icon" ibmIcon="checkmark" size="16"></svg>
        <svg *ngIf="!useRedesign" class="bx--btn__icon" ibmIcon="close" size="16"></svg>
        Use Redesign
      </ibm-overflow-menu-option>
      <ibm-overflow-menu-option type="danger" [disabled]="true" [divider]="true">
        <svg class="bx--btn__icon" ibmIcon="fade" size="16"></svg>
        Unenroll
      </ibm-overflow-menu-option>
    </ibm-overflow-menu>
  </div>
  <hr>
  <ng-container *ngIf="useRedesign">
    <div class="quick-access">
      <app-icon-lti *ngFor="let lti of tools" [lti]="lti" [label]="lti.name"></app-icon-lti>
      <a class="accessor" *ngFor="let s of shortcuts" [href]="s.url" target="_blank" [title]="s.name">
        <span>{{ s.name | abbreviate }}</span>
      </a>
      <button class="accessor" (click)="this.openAddQuickAccessModal()">
        <span>+</span>
      </button>
    </div>
  </ng-container>
  <h2>Recent Feedback</h2>
  <p *ngIf="recent?.length === 0">No recent feedback for this course.</p>
  <div class="recent-item-bar">
    <div class="item" *ngFor="let submission of recent">
      <h5><a [routerLink]="'/courses/'+course?.id+'/assignments/'+submission.assignment.id">
        {{ submission.assignment.name }}
      </a></h5>
      <em>
        <span>Submitted {{ submission.submitted_at | date }}</span>
        <span *ngIf="submission.late" class="late">(Late)</span>
      </em>
      <blockquote>
        Grade:
        <span *ngIf="submission.graded_at">{{ submission.score }}</span>
        <span *ngIf="!submission.graded_at">ungraded</span>
        / {{ submission.assignment.points_possible }}
      </blockquote>
    </div>
  </div>
  <ng-container *ngIf="!useRedesign">
    <hr>
    <h2>Course Home Page</h2>
    <div [innerHtml]="frontPage" class="xss-sanitize"></div>
  </ng-container>
  <ng-container *ngIf="useRedesign">
    <h2>Course Stream</h2>
    <home-todo *ngFor="let item of stream" [item]="item" [showCourse]="false"></home-todo>
    <br><br>
  </ng-container>
</section>

<ng-template #addQuickAccessModal>
  <h2>Create a Quick Access Link</h2>
  <br>
  <form (ngSubmit)="addQuickAccessItem()" #createQAForm>
    <input [(ngModel)]="createQAFormURL" name="url" type="text" placeholder="URL" required>
    <input [(ngModel)]="createQAFormName" name="name" type="text" placeholder="Name" required>
    <p class="error"><sub>{{ createQAFormError }}</sub></p>
    <button type="submit" class="button-right">Create</button>
  </form>
</ng-template>