
<section class="course-home">
  <div class="title-row">
    <h1>{{ course?.name }}</h1>
    <ibm-overflow-menu [flip]="true" [offset]="{x:0,y:50}">
      <ibm-overflow-menu-option (selected)="setOpen()">
        <svg class="bx--btn__icon" ibmIcon="edit" size="16"></svg>
        Edit Nickname
      </ibm-overflow-menu-option>
      <ibm-overflow-menu-option [disabled]="true">
        <svg class="bx--btn__icon" ibmIcon="edit" size="16"></svg>
        Edit Shortcuts
      </ibm-overflow-menu-option>
      <ibm-overflow-menu-option (selected)="toggleRedesign()">
        <svg *ngIf="useRedesign" class="bx--btn__icon" ibmIcon="checkmark" size="16"></svg>
        <svg *ngIf="!useRedesign" class="bx--btn__icon" ibmIcon="close" size="16"></svg>
        Use Redesign
      </ibm-overflow-menu-option>
      <ibm-overflow-menu-option type="danger" [disabled]="true" [divider]="true">
        <svg class="bx--btn__icon" ibmIcon="fade" size="16"></svg>
        Unenroll
      </ibm-overflow-menu-option>
    </ibm-overflow-menu>
  </div>
  <hr>
  <div class="quick-access">
    <a *ngFor="let link of extractedLinks"
      ibmButton="tertiary" size="field"
      [href]="link.href" [target]="link.target">
      {{link.title || link.href}}
    </a>
  </div>
  <br>
  <h2>Recent Feedback</h2>
  <p *ngIf="recent?.length === 0">No recent feedback for this course.</p>
  <div class="recent-item-bar">
    <ibm-clickable-tile *ngFor="let submission of recent"
      [route]="['/courses', course?.id, 'assignments', submission.assignment.id]">
      <h5>{{ submission.assignment.name }}</h5>
      <em>
        <span>Submitted {{ submission.submitted_at | date }}</span>
        <span *ngIf="submission.late" class="late">(Late)</span>
      </em>
      <blockquote>
        Grade:
        <span *ngIf="submission.graded_at">{{ submission.score }}</span>
        <span *ngIf="!submission.graded_at">ungraded</span>
        / {{ submission.assignment.points_possible }}
      </blockquote>
      <svg ibmIcon="arrow--right" size="16"></svg>
    </ibm-clickable-tile>
  </div>
  <ng-container *ngIf="!useRedesign">
    <hr>
    <h2>Course Home Page</h2>
    <div [innerHtml]="frontPage" class="xss-sanitize"></div>
  </ng-container>
  <ng-container *ngIf="useRedesign">
    <h2>Course Stream</h2>
    <home-todo *ngFor="let item of stream" [item]="item" [showCourse]="false"></home-todo>
    <br><br>
  </ng-container>
</section>

<ibm-modal [open]="open" (overlaySelected)="open = false" size="sm">
  <ibm-modal-header (closeSelect)="open = false" [showCloseButton]="true">
    <p class="bx--modal-header__label bx--type-delta">Edit Course</p>
    <p class="bx--modal-header__heading bx--type-beta">Nickname this course</p>
  </ibm-modal-header>
  <div class="bx--modal-content">
    <p>This nickname is only visible to you.</p>
    <br>
    <ibm-label>
      Course Nickname
      <input ibmText type="text" [(ngModel)]="nickname">
    </ibm-label>
  </div>
  <ibm-modal-footer>
    <ng-container>
      <button
        ibmButton="danger"
        (click)="deleteNickname(); open = false"
        [attr.modal-primary-focus]="true">
        Delete Nickname
      </button>
      <button
        ibmButton="primary"
        (click)="setNickname(); open = false"
        [attr.modal-primary-focus]="true">
        Set Nickname
      </button>
    </ng-container>
  </ibm-modal-footer>
</ibm-modal>