
/* Default page with sidebar */

.page {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 340px;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    max-height: 100%;
    margin: 0 auto;
    padding: 50px 70px;
  
    position: relative;
    flex: 1 1;
    overflow: auto;

    .content-wrapper {
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      flex: 1 1;

      section {
        flex: 1 1;
      }
    }
  
    h2 {
      color: var(--text-inverse-primary);
      font-size: 2rem;
      margin: 0;
    }
  }
}