
/* Default page with sidebar */

.page {
  display: flex;
  flex-direction: row;
  height: 100%;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    max-height: 100%;
    margin: 0 auto;
    padding: 50px 70px;
  
    position: relative;
    flex: 1 1;
    overflow: auto;

    .content-wrapper {
      display: flex;
      flex-direction: row;
      max-width: 1600px;
      flex: 1 1;
    }
  
    .content-primary {
      flex: 2 1;
      margin-right: 100px;
    }
  
    .content-secondary {
      max-width: 500px;
      min-width: 380px;
      flex: 1 1;
    }
  
    h2 {
      font-size: 2rem;
      margin: 0;
    }
  }
}