main {
	background-color: var(--bg-primary);
	height: 100vh;
	max-height: calc(100vh - 48px);
	margin-bottom: 48px;
	overflow-y: auto;

	@media (min-width: 1056px) {
		margin-top: 48px;
		margin-bottom: 0;
	}
}

::ng-deep .bx--header {
	display: none;

	@media (min-width: 1056px) {
		display: flex;
	}
}

.mobile-nav {
	background-color: #161616;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 48px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	@media (min-width: 1056px) {
		display: none;
	}

	a {
		display: grid;
		place-items: center;
		flex: 1 1;
	}

	svg {
		fill: #f4f4f4;
	}
}

::ng-deep .bx--panel--overlay {
	background-color: #f4f4f4;
	width: 20rem;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

pre {
	font-size: 0.9rem;
	height: min-content;
	padding: 0.5rem 0;
	overflow-x: auto;
}

// update info

.bx--modal-header__heading.bx--type-beta {
	display: flex;
	align-items: center;
	column-gap: 6px;
}

.logo {
	height: 20px;
	width: 20px;
}

.update-info {
	.stage {
		color: var(--warning);
	}

	ul {
		font-size: 0.9rem;
		margin: 3px 0;
		padding-left: 10px;

		li p {
			margin: 2px 0;
		}
	}
}
