<ibm-tile>
  <span class="actions" [ngClass]="{'shown': selectable}">
    <label class="checkbox">
      <input 
        class="checkbox"
        type="checkbox"
        [(ngModel)]="isComplete"
        (click)="toggleDismissed()">
      <span class="checkmark"></span>
    </label>
  </span>
  <ng-container [ngSwitch]="item.plannable_type">
    <div *ngSwitchCase="'announcement'">
      <h3><a [routerLink]="['/courses',item.course_id,'announcements',item.plannable.id]">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable.created_at | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable.created_at | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Announcement</span>
        <span class="separator"></span>
        <span>{{ item.plannable.unread_count }} Unread</span>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span><a [routerLink]="'/courses/'+item.course_id">{{ item.context_name }}</a></span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchCase="'assessment_request'">
      <h3><a [href]="item.html_url">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable_date | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable_date | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Peer Review</span>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span><a [routerLink]="'/courses/'+item.course_id">{{ item.context_name }}</a></span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchCase="'assignment'">
      <h3><a [routerLink]="['/courses',item.course_id,'assignments',item.plannable.id]">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable.due_at | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable.due_at | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Assignment</span>
        <ng-container *ngIf="item.plannable.points_possible">
          <span class="separator"></span>
          <span>{{ item.plannable.points_possible }}pts</span>
        </ng-container>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span><a [routerLink]="'/courses/'+item.course_id">{{ item.context_name }}</a></span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchCase="'calendar_event'">
      <h3><a (click)="openModal()">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable.start_at | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable.start_at | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Event</span>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span><a [routerLink]="'/courses/'+item.course_id">{{ item.context_name }}</a></span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchCase="'planner_note'">
      <h3><a (click)="openModal()">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable.todo_date | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable.todo_date | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Planner</span>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span>{{ item.context_name || "Personal" }}</span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchCase="'discussion_topic'">
      <h3><a [href]="item.html_url" target="_blank">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable.due_at | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable.due_at | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Discussion</span>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span><a [routerLink]="'/courses/'+item.course_id">{{ item.context_name }}</a></span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchCase="'quiz'">
      <h3><a [href]="item.html_url">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable_date | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable_date | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Quiz</span>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span><a [routerLink]="'/courses/'+item.course_id">{{ item.context_name }}</a></span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchCase="'wiki_page'">
      <h3><a [routerLink]="['/courses',item.course_id,'pages',item.plannable.url]">
        {{ item.plannable.title }}
      </a></h3>
      <p class="subtext">
        <svg *ngIf="isLocked"><use xlink:href="/assets/icons/icon.svg#locked"/></svg>
        <span class="sm-show">{{ item.plannable.todo_date | date: "h:mm a"}}</span>
        <span class="sm-hide">{{ item.plannable.todo_date | date: "E L/d h:mm a"}}</span>
        <span class="separator"></span>
        <span>Wiki Page</span>
        <ng-container *ngIf="showCourse">
          <span class="separator"></span>
          <span><a [routerLink]="'/courses/'+item.course_id">{{ item.context_name }}</a></span>
        </ng-container>
      </p>
    </div>
    <div *ngSwitchDefault>
      <h3>{{ item.plannable.title }}</h3>
      <p class="subtext">
        <span>{{ item.plannable_type }}</span>
      </p>
    </div>
  </ng-container>
</ibm-tile>

<ibm-modal [open]="open" (overlaySelected)="open = false" size="xs">
  <ibm-modal-header (closeSelect)="open = false" [showCloseButton]="true">
    <p class="bx--modal-header__label bx--type-delta">Your To Do</p>
    <p class="bx--modal-header__heading bx--type-beta">Event: {{ item.context_name || "Planner" }}</p>
  </ibm-modal-header>
  <div class="bx--modal-content">
    <h5>{{ item.plannable.title }}</h5>
    <p *ngIf="item.plannable.description">
      <b>Description:</b> {{ item.plannable.description }}
    </p>
    <p *ngIf="item.plannable.location_name" class="wrap">
      <b>Location:</b> {{ item.plannable.location_name }}
    </p>
    <p><b>Start At:</b> {{ item.plannable.start_at | date: "E L/d h:mm a" }}</p>
    <p><b>End At:</b> {{ item.plannable.end_at | date: "E L/d h:mm a" }}</p>
    <p><b>To Do:</b> {{ item.plannable.todo_date | date: "E L/d h:mm a" }}</p>
  </div>
</ibm-modal>