<main class="page">
  <div class="content auth">
    <div class="dialog">
      <div class="title">
        <img src="assets/icons/favicon.png" alt="Caravel Icon">
        <h1>Caravel</h1>
      </div>
      <div class="cta" *ngIf="!isMobileAuth">
        <input type="text" placeholder="User Token" [(ngModel)]="token">
        <button (click)="tryAuthorize()">Log In</button>
      </div>
      <ng-container *ngIf="isMobileAuth">
        <p>✅️ Mobile authorization detected.</p>
        <button (click)="tryAuthorize()">Continue</button>
      </ng-container>
      <br>
    </div>
  </div>
</main>