.auth {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .dialog {
    border: var(--border-primary) 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 25px 50px;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      img {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }

      h1 {
        font-family: renogare;
        font-size: 3rem;
        margin: 0;
      }
    }

    .cta {
      border-radius: 5px;
      display: flex;
      justify-content: center;
      overflow: hidden;

      input {
        background-color: var(--bg-control);
        border: none;
        border-radius: 0;
        color: var(--text-primary);
        font-family: inherit;
  
        flex: 1 1;
        padding: 12px;

        &::placeholder {
          color: var(--text-secondary);
        }
      }

      button {
        background-color: var(--accent-secondary);
        border: none;
        border-radius: 0;
        font-family: inherit;
        font-weight: 700;

        padding: 0 15px;
        transition-duration: 0.2s;

        &:hover {
          background-color: var(--accent-primary);
        }
      }
    }

    p {
      margin-top: 0;
    }

    button {
      padding: 10px;
    }
  }
}