
.modal-page {
  background-color: #0006;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  right: -1000px;
  left: -1000px;
  z-index: 10;
  margin: auto;
  width: 105vmax;
  height: 105vmax;

  overflow: hidden;
  transition-duration: 0.5s;

  .modal {
    background-color: var(--bg-primary);
    border: var(--border-primary) 2px solid;
    border-radius: 5px;
    color: var(--text-inverse-primary);

    display: flex;
    flex-direction: column;

    min-width: 300px;
    max-width: 350px;
    margin: auto;
    padding: 20px;

    overflow: hidden;
    opacity: 1;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
  }

  // !!! DEPRECATED NG-DEEP
  // but theres no other solutions so lmao whatever
  // https://stackoverflow.com/a/49308475/9627251
  .modal ::ng-deep {
    h2, p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .spacer {
      flex: 1 1;
    }
  }

  &.collapsed {
    border-radius: 300%;
    width: 0;
    height: 0;
    visibility: hidden;

    .modal {
      opacity: 0;
      transform: translateY(30px);
      transition-delay: 0s;
    }
  }
}