
.expandable {
  summary {
    border: var(--border-secondary) 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    user-select: none;
    transition-duration: 0.2s;

    margin-bottom: 20px;
    padding: 15px 20px;
  }

  &[open] summary {
    border-color: var(--border-primary);
  }

  &[open] {
    margin-bottom: 30px;
  }

  .items {
    border-left: var(--accent-secondary) 3px solid;
    border-radius: 2px;
    padding-left: 20px;
  }
}