
.course-nav {
  display: flex;
  flex-direction: row;
  row-gap: 1rem;

  height: max-content;
  margin-bottom: 2rem;
  width: max-content;

  overflow: hidden;
  position: relative;
  z-index: 1;
  transition-duration: 0.25s;
  transition-delay: 0.1s;

  ul {
    list-style: none;
  }

  button {
    margin-top: 0.5rem;
    width: 100%;
  }

  @media (min-width: 512px) {
    flex-direction: column;
    margin-right: 3rem;
    width: 50px;
  }

  @media (max-width: 1300px) and (min-width: 512px) {
    &:hover {
      width: 200px;
      margin-right: calc(-150px + 3rem);
  
      a span {
        display: unset;
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  @media (min-width: 1300px) {
    background-color: transparent;
    box-shadow: none;
    width: 220px;
    margin-right: 3rem;
  }
}