
<div class="course-nav">
  <ibm-tile>
    <ul>
      <ibm-sidenav-item [routerLink]="['/courses/', course.id]">
        <svg ibmIcon="fade" size="16"></svg>
        Course Home
      </ibm-sidenav-item>
      <ibm-sidenav-item [routerLink]="['/courses/', course.id, 'announcements']">
        <svg ibmIcon="fade" size="16"></svg>
        Announcements
      </ibm-sidenav-item>
      <ibm-sidenav-item [routerLink]="['/courses/', course.id, 'assignments']">
        <svg ibmIcon="fade" size="16"></svg>
        Assignments
      </ibm-sidenav-item>
      <ibm-sidenav-item [routerLink]="['/courses/', course.id, 'discussions']">
        <svg ibmIcon="fade" size="16"></svg>
        Discussions
      </ibm-sidenav-item>
      <ibm-sidenav-item [routerLink]="['/courses/', course.id, 'grades']">
        <svg ibmIcon="fade" size="16"></svg>
        Grades
      </ibm-sidenav-item>
      <ibm-sidenav-item [routerLink]="['/courses/', course.id, 'modules']">
        <svg ibmIcon="fade" size="16"></svg>
        Modules
      </ibm-sidenav-item>
    </ul>
  </ibm-tile>
</div>