<ibm-header brand="Caravel" name="LCS">
  <ibm-hamburger></ibm-hamburger>
  <ibm-header-navigation>
    <ibm-header-item>Features</ibm-header-item>
    <ibm-header-item>Docs</ibm-header-item>
    <ibm-header-item>Support</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIcon="search" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="fade" size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>
<main>
  <router-outlet></router-outlet>
</main>