
.app {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .app-content {
    flex: 1 1;
    overflow: auto;
    position: relative;
  }
}

.update-info {
  .title {
    color: var(--accent-primary);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .stage {
    color: var(--warning);
    text-decoration: underline;
  }
  
  .desc {
    margin: 0;
  }

  ul {
    font-size: 0.9rem;
    margin: 5px 0;
    padding-left: 20px;

    li p {
      margin: 2px 0;
    }
  }
}
