.expandable {
	summary {
		background-color: #f4f4f4;
		border-left: transparent 0px solid;
		cursor: pointer;
		outline: none;
		user-select: none;
		transition-duration: 0.2s;

		margin: 0.25rem 0;
		padding: 10px 20px;
	}

	&.bold summary {
		font-size: 16px;
		padding: 15px 20px;
	}

	.items {
		border-left: var(--accent-primary) 3px solid;
		padding-left: 1rem;
	}

	&[open] {
		margin-bottom: 30px;

		summary {
			border-left: var(--accent-primary) 3px solid;
		}
	}
}
