<div class="todo">
  <div class="actions">
    <label class="checkbox">
      <input class="checkbox" type="checkbox" name="" id="">
      <span class="checkmark"></span>
    </label>
  </div>
  <div *ngIf="!this.isEvent">
    <h3><a [routerLink]="'/course/'+course?.id+'/assignment/'+todo?.assignment?.id">
      {{ todo?.title }}
    </a></h3>
    <p class="subtext">
      <span>Due {{ todo?.assignment?.due_at | date: "E L/d h:mm a"}}</span>
      <span class="separator"></span>
      <span>{{ todo?.assignment?.points_possible }}pts</span>
      <span class="separator"></span>
      <span><a [routerLink]="'/course/'+course?.id">{{ course?.name }}</a></span>
    </p>
  </div>
  <div *ngIf="this.isEvent">
    <h3><a [href]="todo?.html_url" target="_blank">
      {{ todo?.title }}
    </a></h3>
    <p class="subtext">
      <span>{{ todo?.start_at | date: "E L/d h:mm a"}}</span>
      <span class="separator"></span>
      <span>Course Event (External)</span>
    </p>
  </div>
</div>