
.todo {
  background-color: var(--bg-secondary);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  margin: 20px 0;
  padding: 15px 20px;

  h4 {
    margin: 0;
    margin-bottom: 5px;
  }

  .subtext {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--text-inverse-tertiary);
    font-size: 12px;
    margin: 0;
  }

  .separator::before {
    background-color: var(--text-inverse-tertiary);
    border-radius: 50%;
    content: "";
    display: block;

    width: 5px;
    height: 5px;
    margin: auto 10px;

    opacity: 0.2;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    > * {
      padding: 0 10px;
    }
  }
  
  .spacer {
    flex: 1 1;
  }
}