<div class="todo">
  <div class="actions">
    <label class="checkbox">
      <input class="checkbox" type="checkbox" name="" id="">
      <span class="checkmark"></span>
    </label>
  </div>
  <div>
    <h3>{{ todo.assignment?.name }}</h3>
    <p class="subtext">
      <span>Due {{ todo.assignment?.due_at | date: "E L/d h:mm a"}}</span>
      <span class="separator"></span>
      <span>{{ todo.assignment?.points_possible }}pts</span>
      <span class="separator"></span>
      <span>{{ course?.name }}</span>
    </p>
  </div>
  <span class="spacer"></span>
  <div class="actions">
  </div>
</div>