
<div class="configurator">
  <div class="settings-title">
    <h3>Local Settings</h3>
    <div class="actions">
      <button (click)="resetConfig()">Reset Config</button>
      <button (click)="clearCache()">Clear Cache and Config</button>
    </div>
  </div>
  <div *ngFor="let scope of configuration | keyvalue" class="config-scope">
    <h4>{{ scope.key }}</h4>
    <div *ngFor="let conf of scope.value | keyvalue" class="configurable">
      <app-toggle *ngIf="conf.value.type === 'toggle'"
        [(value)]="conf.value.value"
        (change)="upd(scope.key, conf.key, conf.value.value)">
        {{ conf.value.name }}
      </app-toggle>
      <div *ngIf="conf.value.type === 'text'">
        <label>{{ conf.value.name }}</label>
        <input type="text"
          [(ngModel)]="conf.value.value"
          (change)="upd(scope.key, conf.key, conf.value.value)">
      </div>
      <div *ngIf="conf.value.type === 'select'">
        <label>{{ conf.value.name }}</label>
        <select 
            [(ngModel)]="conf.value.value"
            (change)="upd(scope.key, conf.key, conf.value.value)">
          <option
            *ngFor="let opt of conf.value.options"
            [value]="opt">
            {{ opt }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>