
<section class="configurator-scopes">
  <ibm-tile *ngFor="let scope of configuration | keyvalue" class="config-scope">
    <h6>{{ scope.key }}</h6>
    <div *ngFor="let conf of scope.value | keyvalue" class="configurable">
      <app-toggle *ngIf="conf.value.type === 'toggle'"
        [(value)]="conf.value.value"
        (change)="upd(scope.key, conf.key, conf.value.value)">
        {{ conf.value.name }}
      </app-toggle>
      <ibm-label *ngIf="conf.value.type === 'text'">
        {{ conf.value.name }}
        <input ibmText type="text" theme="light"
          [(ngModel)]="conf.value.value"
          (change)="upd(scope.key, conf.key, conf.value.value)"
          [placeholder]="conf.value.default">
      </ibm-label>
      <ibm-select *ngIf="conf.value.type === 'select'" theme="light"
        [label]="conf.value.name"
        [(ngModel)]="conf.value.value"
        (change)="upd(scope.key, conf.key, conf.value.value)">
        <option
          *ngFor="let opt of conf.value.options"
          [value]="opt">
          {{ opt }}
        </option>
      </ibm-select>
    </div>
  </ibm-tile>
</section>