
.configurator {
  border: var(--border-secondary) 1px solid;
  border-radius: 5px;

  margin-top: 20px;
  padding: 20px;

  h3 {
    margin: 0;
    margin-bottom: 10px;
  }

  button {
    background-color: transparent;
    border: var(--border-primary) 1.5px solid;
    border-radius: 5px;
    color: var(--text-primary);
    padding: 5px 10px;

    &:not(:first-of-type) {
      margin-left: 5px;
    }

    &:hover {
      border-color: var(--warning);
    }
  }

  .settings-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .actions {
      display: flex;
    }
  }

  .configurator-scopes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .app-stats {
    margin: 0;
    text-align: right;
  }

  .config-scope {
    margin-bottom: 20px;
    width: 100%;

    .configurable {
      margin-bottom: 10px;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        :last-child {
          width: 170px;
        }

        select {
          appearance: none;
        }
      }
    }

    @media (min-width: 992px) {
      width: 45%;
    }
  }

  @media (min-width: 512px) {
    h3 {
      margin-bottom: 0;
    }

    .settings-title {
      flex-direction: row;
      align-items: center;
    }
  }
}