<ibm-header brand="Caravel" name="LCS">
  <ibm-hamburger></ibm-hamburger>
  <ibm-header-navigation>
    <ibm-header-item [routerLink]="['/account']">Account</ibm-header-item>
    <ibm-header-item [routerLink]="['/home']">Dashboard</ibm-header-item>
    <ibm-header-menu title="Classes">
      <ibm-header-item *ngFor="let course of courses" 
      [routerLink]="'/courses/'+course.id">{{course.name.slice(0, 20)}}</ibm-header-item>
      <ibm-header-item [routerLink]="['/courses']">All Courses</ibm-header-item>
    </ibm-header-menu>
    <ibm-header-item [routerLink]="['/inbox']">Inbox</ibm-header-item>
    <ibm-header-item [routerLink]="['/calendar']">Calendar</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action #dataExplorer title="Data Explorer">
      <svg ibmIcon="data--connected" size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>
<ibm-panel [expanded]="dataExplorer.active">
  <ibm-tile>
    <div class="form">
      <h3>Data Explorer</h3>
      <p>The data explorer is for advanced users. It shows the exact data Caravel gets from the Canvas API and may be useful if you believe data is being displayed incorrectly or not at all. If so, <a href="https://github.com/ivynya/Caravel" target="_blank">please file an issue on GitHub!</a></p>
      <ibm-dropdown theme="light"
        label="Selected Request"
        placeholder="Select"
        [(ngModel)]="model"
        (selected)="changed()"
        value="content">
        <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
      </ibm-dropdown>
      <pre>{{ data | json }}</pre>
      <br>
      <br>
    </div>
  </ibm-tile>
</ibm-panel>
<main class="app" *ngIf="isLoaded">
  <app-notification-banner></app-notification-banner>
  <router-outlet></router-outlet>
</main>
<nav class="mobile-nav">
  <a [routerLink]="['/account']"><svg ibmIcon="user" size="20"></svg></a>
  <a [routerLink]="['/home']"><svg ibmIcon="list--checked" size="20"></svg></a>
  <a [routerLink]="['/courses']"><svg ibmIcon="fade" size="20"></svg></a>
  <a [routerLink]="['/inbox']"><svg ibmIcon="mail--all" size="20"></svg></a>
  <a [routerLink]="['/calendar']"><svg ibmIcon="calendar" size="20"></svg></a>
</nav>

<ibm-modal [open]="showWhatsNew" (overlaySelected)="showWhatsNew = false" size="xs">
  <ibm-modal-header (closeSelect)="showWhatsNew = false" [showCloseButton]="true">
    <p class="bx--modal-header__label bx--type-delta">Updated from v{{ appInfo.previous }} to v{{ appInfo.version}}</p>
    <p class="bx--modal-header__heading bx--type-beta">
      <img class="logo" src="/assets/icons/favicon.png" alt="">
      Caravel v{{ appInfo.version }}
    </p>
  </ibm-modal-header>
  <div class="bx--modal-content">
    <div *ngFor="let item of appInfo.updateInfo" class="update-info">
      <h5 class="title">
        <span>{{ item.title }}</span>
        <span *ngIf="item.stage" class="stage"> | {{ item.stage}}</span>
      </h5>
      <p class="desc">{{ item.desc }}</p>
      <ul><li *ngFor="let feature of item.features">
        <p>{{ feature }}</p>
      </li></ul>
      <br>
    </div>
  </div>
  <ibm-modal-footer>
    <ng-container>
      <button
        ibmButton="primary"
        (click)="showWhatsNew = false"
        [attr.modal-primary-focus]="true">
        Okay!
      </button>
    </ng-container>
  </ibm-modal-footer>
</ibm-modal>