
main {
  background-color: var(--bg-primary);
  height: 100vh;
  max-height: calc(100vh - 48px);
  margin-top: 48px;
  overflow-y: auto;
}

.bx--modal-header__heading.bx--type-beta {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.logo {
  height: 20px;
  width: 20px;
}