<div class="page">
  <div>
    <h1>Page not Found</h1>
    <p>This page could not be found. Possible reasons include:</p>
    <br>
    <ul>
      <li>Caravel may not yet support this feature.</li>
      <li>The link in the address bar may be mistyped.</li>
      <li>This link is not a valid resource.</li>
    </ul>
    <br>
    <br>
    <p>You can try opening this URL in Canvas instead (opens in new tab).</p>
    <p><a href="{{ canvasURL }}" target="_blank">{{ canvasURL }}</a></p>
  </div>
</div>
