
.assignment {
  .info-bar {
    display: flex;
    align-items: center;
    
    p {
      margin-right: 30px;
    }
  }

  .xss-sanitize {
    max-width: 1000px;
    overflow: hidden;

    ::ng-deep {
      table {
        width: 100%;
      }

      table td {
        padding: 0 15px;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .assignment-submitter {
    padding-bottom: 250px;

    .attempts {
      margin-bottom: 10px;

      button {
        background-color: transparent;
        border: none;
        border-bottom: var(--bg-control) 2px solid;
        border-radius: 0;

        font-family: inherit;
        font-size: 1rem;

        margin-right: 25px;
        padding: 5px;
        
        transition-duration: 0.2s;

        &:hover, &.active {
          border-color: var(--accent-primary);
        }
      }
    }

    .submitter {
      border: var(--bg-secondary) 3px solid;
      border-radius: 5px;
      display: block;
      min-height: 100px;
      margin-top: 20px;
      padding: 20px;
    }
  }

  .late {
    color: red;
  }
}