
.brand-badge {
	display: flex;
	align-items: center;
	column-gap: 6px;

	img {
		width: 25px;
	}

	h2 {
		font-family: renogare;
		margin: 0;
	}

	span {
		background-image: linear-gradient(-135deg, #00a1ff, #ffa0ff);
		background-clip: text;
		color: transparent;
		margin-left: 3px;
	}
}