
:root {
  --bg-primary: #11111F;
  --bg-secondary: #1A1A2F;
  --bg-tertiary: #22223A;

  --box-shadow-primary: #000;
  --box-shadow-secondary: #111;

  --bg-accent: #437;
  --bg-control: #335;
  --bg-control-hover: #447;
  --bg-dialog: #1A1A25;

  --text-primary: #eee;
  --text-secondary: #ddd;

  --accent-primary: #00F2D2;
  --accent-secondary: #00C2A2;
}

::selection {
  background-color: var(--accent-secondary);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-accent);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-secondary);
  border-radius: 2px;
}

html, body {
  background-color: var(--bg-primary);
  color: var(--text-primary);

  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Nunito', Helvetica, sans-serif;
}

@import 'sass/page.scss';

@import 'sass/slider.scss';