
button {
  background-color: var(--bg-control);
  border: none;
  border-radius: 3px;
  color: var(--text-control);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  transition-duration: 0.2s;

  &:hover {
    background-color: var(--control-hover);
  }

  img {
    width: 90%;
    height: 90%;
  }
}