
// This file handles all external content loaded
// For example, HTML in assignment bodies.

.xss-sanitize {
  max-width: 1000px;
  overflow: hidden;

  table {
    width: 100%;
  }

  table td {
    padding: 0 15px;
  }

  img {
    max-width: 100%;
  }

  a {
    color: var(--accent-primary);
  }

  iframe {
    width: 100% !important;
  }
}