
input[type="text"], select {
	background-color: var(--bg-control);
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: var(--text-control);
	font-family: inherit;
	padding: 5px 10px;

	outline-color: var(--accent-primary);

	&::placeholder {
		color: var(--text-tertiary);
	}
}