
/* Default page with sidebar */

.page {
  display: flex;
  height: 100%;
  overflow: auto;
  position: relative;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-inverse-primary);
  
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 70px;
  
    position: relative;
    flex: 1 1;
  
    h1 {
      font-size: 2rem;
      margin: 0;
    }

    section {
      flex: 1 1;
      width: 100%;
    }
  }
}