::selection {
	background-color: var(--accent-primary);
}

::-webkit-scrollbar {
	height: 7px;
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border-radius: 1px;
}

html,
body {
	background-color: var(--bg-primary);
	color: var(--text-primary);

	margin: 0;
	padding: 0;

	font-size: 14px;

	transition-duration: 0.3s;
}

a {
	color: var(--accent-primary);
}

.spacer {
	flex: 1 1;
}

@media (max-width: 512px) {
	.sm-hide {
		display: none;
	}
}

@media (min-width: 512px) {
	.sm-show {
		display: none;
	}
}
