
:root, :root[theme="dark"] {
  --bg-primary: #11111F;
  --bg-secondary: #1A1A2F;
  --bg-tertiary: #22223A;

  --box-shadow-primary: #000;
  --box-shadow-secondary: #111;

  --border-primary: #437;
  --border-secondary: #326;

  --bg-accent: #437;
  --bg-control: #335;
  --bg-control-hover: #447;
  --bg-dialog: #1A1A25;

  --text-primary: #eee;
  --text-secondary: #ddd;
  --text-tertiary: #aab;

  --text-inverse-primary: #eee;
  --text-inverse-secondary: #ddd;
  --text-inverse-tertiary: #aab;

  --scrollbar-primary: var(--bg-accent);
  --scrollbar-secondary: #64a;

  --accent-primary: #00F2D2;
  --accent-secondary: #00C2A2;

  --error: #F50;
  --warning: #FA0;
  --info: #00F2D2;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #b4a1e4;
    --bg-tertiary: #47475e;
  
    --box-shadow-primary: #403668;
    --box-shadow-secondary: #7c73a7;
  
    --border-primary: #437;
    --border-secondary: #326;
  
    --bg-control: #5c5c7e;
    --bg-control-hover: #52527e;
  
    --bg-accent: #7261a3;
    --bg-dialog: #515172;
  
    --text-primary: #ffffff;
    --text-secondary: #ddd;
    --text-tertiary: #aab;
  
    --text-inverse-primary: #000;
    --text-inverse-secondary: #222;
    --text-inverse-tertiary: #555;
  
    --scrollbar-primary: var(--bg-accent);
    --scrollbar-secondary: #64a;
  
    --accent-primary: #00F2D2;
    --accent-secondary: #00b5c2;
  
    --error: #F50;
    --warning: #FA0;
    --info: #00F2D2;
  }
}

:root[theme="light"] {
  --bg-primary: #ffffff;
  --bg-secondary: #b4a1e4;
  --bg-tertiary: #47475e;

  --box-shadow-primary: #403668;
  --box-shadow-secondary: #7c73a7;

  --border-primary: #437;
  --border-secondary: #326;

  --bg-control: #5c5c7e;
  --bg-control-hover: #52527e;

  --bg-accent: #7261a3;
  --bg-dialog: #515172;

  --text-primary: #ffffff;
  --text-secondary: #ddd;
  --text-tertiary: #aab;

  --text-inverse-primary: #000;
  --text-inverse-secondary: #222;
  --text-inverse-tertiary: #555;

  --scrollbar-primary: var(--bg-accent);
  --scrollbar-secondary: #64a;

  --accent-primary: #00F2D2;
  --accent-secondary: #00b5c2;

  --error: #F50;
  --warning: #FA0;
  --info: #00F2D2;
}

::selection {
  background-color: var(--accent-primary);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-primary);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-secondary);
  border-radius: 2px;
}

html, body {
  background-color: var(--bg-primary);
  
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 14px;

  transition-duration: 0.3s;

  @media (min-width: 2000px) {
    font-size: 16px;
  }
}

a {
  color: var(--accent-primary);
}