@use "sass:color";

:root,
:root[theme="caravel-dark"] {
	// Used for "A on B" UI elements
	--bg-primary: #11111f;
	--bg-secondary: #1a1a2f;
	--bg-tertiary: #22223a;

	--text-primary: #eee;
	--text-tertiary: #aab;

	// Element borders
	--border-primary: #437;
	--border-secondary: #326;

	// Used for interactive UI elements
	--bg-control: #335;
	--scrollbar-track: var(--bg-control);
	--scrollbar-thumb: var(--accent-primary);

	// Included as text and in notifications
	--error: #f50;
	--warning: #fa0;
}

@mixin theme-light {
	// Used for "A on B" UI elements
	--bg-primary: #fff;
	--bg-secondary: #f4f4f4;
	--bg-tertiary: #ddd;

	--text-primary: #333;
	--text-tertiary: #525252;

	// Element borders
	--border-primary: #abf;
	--border-secondary: #567;

	// Used for interactive UI elements
	--bg-control: #e0e0e0;
	--scrollbar-track: var(--bg-control);
	--scrollbar-thumb: var(--accent-primary);

	// Included as text and in notifications
	--error: #f50;
	--warning: #fa0;
}

@media (prefers-color-scheme: light) {
	:root {
		@include theme-light;
	}
}

:root[theme="caravel-light"] {
	@include theme-light;
}

:root[theme="soulless-dark"] {
	// Used for "A on B" UI elements
	--bg-primary: #111;
	--bg-secondary: #222;
	--bg-tertiary: #333;

	--text-primary: #eee;
	--text-tertiary: #aab;

	// Element borders
	--border-primary: #abc;
	--border-secondary: #334455;

	// Used for interactive UI elements
	--bg-control: #333;
	--scrollbar-track: var(--bg-control);
	--scrollbar-thumb: var(--accent-primary);

	// Included as text and in notifications
	--error: #f50;
	--warning: #fa0;
}

:root[theme="soulless-light"] {
	// Used for "A on B" UI elements
	--bg-primary: #eee;
	--bg-secondary: #ddd;
	--bg-tertiary: #aaa;

	--text-primary: #333;
	--text-tertiary: #777;

	// Element borders
	--border-primary: #abc;
	--border-secondary: #334455;

	// Used for interactive UI elements
	--bg-control: #222;
	--scrollbar-track: var(--bg-control);
	--scrollbar-thumb: var(--accent-primary);

	// Included as text and in notifications
	--error: #f50;
	--warning: #fa0;
}

:root[accent="ibm-blue"] {
	--accent-primary: #0f62fe;
	--accent-secondary: #0353e9;
}

:root[accent="vyne-green"] {
	--accent-primary: #6b7c32;
	--accent-secondary: #556327;
}

:root[accent="vyne-teal"] {
	--accent-primary: #00b8a5;
	--accent-secondary: #009e8e;
}
