
:root, :root[theme="dark"] {
  --bg-primary: #11111F;
  --bg-secondary: #1A1A2F;
  --bg-tertiary: #22223A;

  --box-shadow-primary: #000;
  --box-shadow-secondary: #111;

  --border-primary: #437;
  --border-secondary: #326;

  --bg-accent: #437;
  --bg-control: #335;
  --bg-control-hover: #447;
  --bg-dialog: #1A1A25;

  --text-primary: #eee;
  --text-secondary: #ddd;
  --text-tertiary: #aab;

  --text-inverse-primary: #eee;
  --text-inverse-secondary: #ddd;
  --text-inverse-tertiary: #aab;

  --scrollbar-primary: var(--bg-accent);
  --scrollbar-secondary: #64a;

  --accent-primary: #00F2D2;
  --accent-secondary: #00C2A2;

  --error: #F50;
  --warning: #FA0;
  --info: #00F2D2;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #b4a1e4;
    --bg-tertiary: #47475e;
  
    --box-shadow-primary: #403668;
    --box-shadow-secondary: #7c73a7;
  
    --border-primary: #437;
    --border-secondary: #326;
  
    --bg-control: #5c5c7e;
    --bg-control-hover: #52527e;
  
    --bg-accent: #7261a3;
    --bg-dialog: #515172;
  
    --text-primary: #ffffff;
    --text-secondary: #ddd;
    --text-tertiary: #aab;
  
    --text-inverse-primary: #000;
    --text-inverse-secondary: #222;
    --text-inverse-tertiary: #555;
  
    --scrollbar-primary: var(--bg-accent);
    --scrollbar-secondary: #64a;
  
    --accent-primary: #00F2D2;
    --accent-secondary: #00b5c2;
  
    --error: #F50;
    --warning: #FA0;
    --info: #00F2D2;
  }
}

:root[theme="light"] {
  --bg-primary: #ffffff;
  --bg-secondary: #b4a1e4;
  --bg-tertiary: #47475e;

  --box-shadow-primary: #403668;
  --box-shadow-secondary: #7c73a7;

  --border-primary: #437;
  --border-secondary: #326;

  --bg-control: #5c5c7e;
  --bg-control-hover: #52527e;

  --bg-accent: #7261a3;
  --bg-dialog: #515172;

  --text-primary: #ffffff;
  --text-secondary: #ddd;
  --text-tertiary: #aab;

  --text-inverse-primary: #000;
  --text-inverse-secondary: #222;
  --text-inverse-tertiary: #555;

  --scrollbar-primary: var(--bg-accent);
  --scrollbar-secondary: #64a;

  --accent-primary: #00F2D2;
  --accent-secondary: #00b5c2;

  --error: #F50;
  --warning: #FA0;
  --info: #00F2D2;
}

:root[theme="amoled"] {
  --bg-primary: #000;
  --bg-secondary: #333;
  --bg-tertiary: #112;

  --box-shadow-primary: transparent;
  --box-shadow-secondary: transparent;

  --text-primary: #fff;
  --text-secondary: #ddd;
  --text-tertiary: #aab;

  --text-inverse-primary: #eee;
  --text-inverse-secondary: #ddd;
  --text-inverse-tertiary: #999;
}

:root[theme="light-alt"] {
  --bg-primary: #fff;
  --bg-secondary: #aaa;
  --bg-tertiary: #fafafa;

  --box-shadow-primary: #ccc;
  --box-shadow-secondary: #ddd;

  --border-primary: #777;
  --border-secondary: #bbb;

  --bg-control: #eee;
  --bg-control-hover: #ddd;

  --bg-accent: #aaa;
  --bg-dialog: #aaa;

  --text-primary: #000;
  --text-secondary: #000;
  --text-tertiary: #000;

  --text-inverse-primary: #000;
  --text-inverse-secondary: #000;
  --text-inverse-tertiary: #000;

  --scrollbar-primary: var(--bg-accent);
  --scrollbar-secondary: #555;

  --accent-primary: #abc;
  --accent-secondary: #78c;

  --error: #F50;
  --warning: #FA0;
  --info: #abc;
}