<main class="page">
  <div class="content">
    <section class="home">
      <h1>Your To Do</h1>
      <hr>
      <div *ngFor="let group of stream">
        <h2>{{ group.id }}</h2>
        <home-todo *ngFor="let item of group.items" [item]="item"></home-todo>
        <details *ngIf="group.completed.length > 0">
          <summary>Completed Items ({{ group.completed.length }})</summary>
          <home-todo *ngFor="let item of group.completed" [item]="item" [isComplete]="true"></home-todo>
        </details>
      </div>
      <br><br>
    </section>
  </div>
</main>