<main class="page">
  <div class="content">
    <section class="home">
      <h1>Your To Do</h1>
      <hr>
      <div *ngFor="let group of stream">
        <h2>{{ group.id }}</h2>
        <home-todo *ngFor="let item of group.items" [item]="item"></home-todo>
        <app-expandable
            *ngIf="group.completed.length > 0"
            [name]="'Completed Items ('+group.completed.length+')'">
          <home-todo *ngFor="let item of group.completed" [item]="item"></home-todo>
        </app-expandable>
      </div>
      <br><br>
    </section>
  </div>
</main>