.home {
	.control-bar {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;

		h1 {
			align-self: center;
		}

		button {
			display: grid;
			place-items: center;
			margin-left: 8px;

			&:first-of-type {
				margin-left: 15px;
			}

			svg {
				fill: var(--accent-primary);
			}
		}

		@media (min-width: 512px) {
			flex-direction: row;
			align-items: center;
		}
	}

	h2 {
		font-size: 1.25rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
		width: max-content;
	}
}
