<main class="page">
  <div class="content">
    <section class="home">
      <div class="control-bar">
        <h1>Your To Do</h1>
        <div>
          <p>{{ streamState.start | date }} - {{ streamState.end | date }}</p>
          <br>
          <span class="spacer"></span>
          <button (click)="loadFromPreviousDay()" title="Load Past Items">
            <img src="/assets/icons/Icon_UpArrow.svg" alt="Load Past Items">
          </button>
          <button (click)="loadFromToday()" title="Refresh/Reset View">
            <img src="/assets/icons/Icon_Refresh.svg" alt="Refresh View">
          </button>
        </div>
      </div>
      <hr>
      <div *ngFor="let group of stream">
        <h2>{{ group.id }}</h2>
        <home-todo *ngFor="let item of group.items" [item]="item"></home-todo>
        <app-expandable
            *ngIf="group.completed.length > 0"
            [name]="'Completed Items ('+group.completed.length+')'">
          <home-todo *ngFor="let item of group.completed" [item]="item"></home-todo>
        </app-expandable>
      </div>
      <br><br>
    </section>
  </div>
</main>