
.home {
  .control-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }

    button {
      margin-left: 8px;
      height: 35px;
      width: 35px;

      &:first-of-type {
        margin-left: 15px;
      }

      svg {
        fill: var(--accent-primary);
        height: 20px;
      }
    }

    @media (min-width: 512px) {
      flex-direction: row;
      align-items: center;
    }
  }

  h2 {
    border-bottom: var(--text-inverse-tertiary) 1px solid;
    width: max-content;
  }
}