
.home {
  h2 {
    border-bottom: var(--text-inverse-tertiary) 1px solid;
    padding-bottom: 5px;
  }

  details {
    border: var(--border-secondary) 2px solid;
    border-radius: 5px;
    padding: 10px 20px;
    transition-duration: 0.2s;

    &[open] {
      border-color: var(--border-primary);
    }

    summary {
      cursor: pointer;
    }
  }
}