.home {
  display: flex;
  flex-direction: row;
  height: 100%;

  .content {
    display: flex;
    flex-direction: row;

    max-height: 100%;
    padding: 50px 70px;

    flex: 1 1;
    overflow: auto;

    .content-primary {
      flex: 2 1;
      margin-right: 100px;
    }

    .content-secondary {
      flex: 1 1;
    }

    h2 {
      font-size: 2rem;
      margin: 0;
    }
    
  }
}