<main class="page">
  <div class="content">
    <section class="account">
      <h1>Your Account</h1>
      <hr><br>
      <div class="header">
        <img [src]="profile?.avatar_url" alt="Your Avatar">
        <div>
          <h2>{{ profile?.name }}</h2>
          <p><b>{{ profile?.pronouns }}</b></p>
          <p>Primary Email: {{ profile?.primary_email }}</p>
        </div>
      </div>
      <h3>Biography</h3>
      <p>{{ profile?.bio }}</p>
      <br>
      <div class="settings">
        <div class="settings-title">
          <h3>Caravan Settings (Local Only)</h3>
          <div class="actions">
            <button (click)="resetConfig()">Reset Config</button>
            <button (click)="clearCache()">Clear Cache and Config</button>
          </div>
        </div>
        <div *ngFor="let scope of configuration | keyvalue" class="config-scope">
          <h4>{{ scope.key }}</h4>
          <div *ngFor="let conf of scope.value | keyvalue" class="configurable">
            <app-toggle *ngIf="conf.value.type === 'toggle'"
              [(value)]="conf.value.value"
              (change)="upd(scope.key, conf.key, conf.value.value)">
              {{ conf.value.name }}
            </app-toggle>
            <div *ngIf="conf.value.type === 'text'">
              <label>{{ conf.value.name }}</label>
              <input type="text"
                [(ngModel)]="conf.value.value"
                (change)="upd(scope.key, conf.key, conf.value.value)">
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </section>
  </div>
</main>