<main class="page">
  <section class="content">
    <div>
      <h1>Your Account</h1>
      <hr>
    </div>
    <div class="header">
      <img [src]="profile?.avatar_url" alt="Your Avatar">
      <div>
        <h2>{{ profile?.name }}</h2>
        <p><b>{{ profile?.pronouns }}</b></p>
        <p>Primary Email: {{ profile?.primary_email }}</p>
      </div>
    </div>
    <h3>Biography</h3>
    <p>{{ profile?.bio }}</p>
    <div class="settings">
      <div class="settings-title">
        <h3>Caravan Settings (Local Only)</h3>
        <div class="actions">
          <button (click)="clearCache()">Reset Config</button>
          <button (click)="clearCache()">Clear Cache and Config</button>
        </div>
      </div>
      <div class="configurable">
        
      </div>
    </div>
    <span class="spacer"></span>
  </section>
</main>