<div class="content">
  <div class="sidebar">
    <img [src]="profile?.avatar_url" alt="Your Avatar">
    <div class="profile">
      <h3>{{ profile?.short_name || profile?.name }}</h3>
      <p><b>{{ profile?.pronouns }}</b></p>
      <ibm-tooltip-definition [content]="profile?.primary_email">{{ profile?.primary_email }}</ibm-tooltip-definition>
      <pre>{{ profile?.bio }}</pre>
    </div>
    <div>
      <button [ibmButton] size="field" (click)="openAuthorizer()">Mobile Login</button>
      <button ibmButton="tertiary" size="field" disabled>Upload ID Card</button>
    </div>
    <span class="spacer"></span>
    <hr>
    <div>
      <p>
        <span>Storage: {{ storageUsed }}KB</span>
        <button ibmButton="ghost" (click)="openStorageGraph()">View Graph</button>
      </p>
      <p>
        <span>Version: {{ appInfo.version }}</span>
        <button ibmButton="ghost" (click)="openWhatsNew()">What's New</button>
      </p>
    </div>
  </div>
  <section class="account">
    <h1>Account Settings</h1>
    <hr>
    <app-configurator></app-configurator>
  </section>
</div>

<ibm-modal [open]="showStorageGraph" (overlaySelected)="showStorageGraph = false" size="sm">
  <ibm-modal-header (closeSelect)="showStorageGraph = false" [showCloseButton]="true">
    <p class="bx--modal-header__label bx--type-delta">Account</p>
    <p class="bx--modal-header__heading bx--type-beta">Storage Graph</p>
  </ibm-modal-header>
  <div class="bx--modal-content">
    <p>The storage graph is coming in a future version of Caravel.</p>
    <br><br>
    <div>
      <button ibmButton="danger--tertiary" size="field" (click)="clearCache()">Clear Cache</button>
      <button ibmButton="danger" size="field" (click)="resetConfig()">Reset Config</button>
    </div>
  </div>
</ibm-modal>

<ibm-modal [open]="showMobileAuthorizer" (overlaySelected)="showMobileAuthorizer = false" size="xs">
  <ibm-modal-header (closeSelect)="showMobileAuthorizer = false" [showCloseButton]="true">
    <p class="bx--modal-header__label bx--type-delta">Account</p>
    <p class="bx--modal-header__heading bx--type-beta">Authorize Mobile</p>
  </ibm-modal-header>
  <div class="bx--modal-content">
    <p>Scan this QR code using your device's camera app or a supported scanner to sign in.</p>
    <br>
    <p><b>WARNING: Anyone can use this code!</b> Hover over or click the code when you are ready and minimize the time the code is shown.</p>
    <div class="auth-hover-show" tabindex="0">
      <qrcode [qrdata]="mobileAuthUrl" [width]="250" errorCorrectionLevel="M"></qrcode>
    </div>
  </div>
</ibm-modal>