
.account {
  > div {
    margin-bottom: 20px;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    h2, p {
      margin: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-top: 5px;
    }

    @media (min-width: 512px) {
      flex-direction: row;
      justify-content: unset;

      img {
        margin-right: 30px;
        height: 90px;
        width: 90px;
      }
    }
  }

  h3 {
    margin-bottom: 0;
  }
}
