.assignment {
	.info-bar {
		display: flex;
		align-items: center;
		column-gap: 30px;
		margin: 0.25rem 0;
	}

	.assignment-submitter {
		padding-bottom: 250px;
	}

	.late {
		color: var(--error);
	}
}
